# Calculate Rank, Percentile, Subject-wise Percentile for each student in a Test

Prototype to compute rank, percentile, subject-wise rank and percentile for each students.

## Installing dependencies

In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/aadhivijay/.local/lib/python3.8/site-packages (1.2.4)
Requirement already satisfied: pytz>=2017.3 in /home/aadhivijay/.local/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/aadhivijay/.local/lib/python3.8/site-packages (from pandas) (2.8.1)
Requirement already satisfied: numpy>=1.16.5 in /home/aadhivijay/.local/lib/python3.8/site-packages (from pandas) (1.20.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.7.3->pandas) (1.14.0)

## Importing dependencies

In [2]:
import pandas as pd

## Read the sample test data from CSV

In [3]:
df = pd.read_csv('samples/sample-test-data.csv')

df.head(10)

   id test_id user_id  mark
0   1  test-1  user-1    75
1   2  test-1  user-5    88
2   3  test-1  user-9    78
3   4  test-2  user-3    66
4   5  test-2  user-7   100
5   6  test-3  user-1    35
6   7  test-3  user-5   100
7   8  test-3  user-9    35
8   9  test-4  user-3   100
9  10  test-4  user-7    72

## Computing Rank for each student in the Test by the mark they scored

In [4]:
# Group by test_id and compute rank
df['rank'] = df.groupby('test_id', sort=False)['mark'].rank(ascending=0, method='min')
# sort the values by test_id & rank
df.sort_values(by=['test_id','rank'], inplace=True)

df.head(10)

    id test_id  user_id  mark  rank
1    2  test-1   user-5    88   1.0
2    3  test-1   user-9    78   2.0
0    1  test-1   user-1    75   3.0
39  40  test-1   user-8    72   4.0
13  14  test-1   user-2    70   5.0
14  15  test-1   user-6    66   6.0
15  16  test-1  user-10    65   7.0
26  27  test-1   user-3    60   8.0
38  39  test-1   user-4    55   9.0
27  28  test-1   user-7    35  10.0

## Computing Percentile for each student in the Test by the mark they scored

In [5]:
# Group by test_id and compute percentile
df['percentile'] = df.groupby('test_id', sort=False)['mark'].rank(pct=True) * 100
# sort the values by test_id & percentile
df.sort_values(by=['test_id','percentile'], ascending=[True, False], inplace=True)

df.head(10)

    id test_id  user_id  mark  rank  percentile
1    2  test-1   user-5    88   1.0       100.0
2    3  test-1   user-9    78   2.0        90.0
0    1  test-1   user-1    75   3.0        80.0
39  40  test-1   user-8    72   4.0        70.0
13  14  test-1   user-2    70   5.0        60.0
14  15  test-1   user-6    66   6.0        50.0
15  16  test-1  user-10    65   7.0        40.0
26  27  test-1   user-3    60   8.0        30.0
38  39  test-1   user-4    55   9.0        20.0
27  28  test-1   user-7    35  10.0        10.0

## Read the sample test subject data from CSV

In [6]:
df1 = pd.read_csv('samples/sample-ques-subject-attempt.csv')

df1.head(10)

   id test_id q_id subject_id user_id  mark
0   1  test-1  q-1      sub-1  user-1    -3
1   2  test-1  q-1      sub-1  user-5    -3
2   3  test-1  q-1      sub-1  user-9    -3
3   4  test-1  q-2      sub-2  user-3    10
4   5  test-1  q-2      sub-2  user-7    10
5   6  test-1  q-3      sub-3  user-1    -3
6   7  test-1  q-3      sub-3  user-5    -3
7   8  test-1  q-3      sub-3  user-9    10
8   9  test-1  q-4      sub-4  user-3    10
9  10  test-1  q-4      sub-4  user-7    -3

## Computing Subject-wise Percentile for each student in the Test by the mark they scored

In [7]:
# Group by test_id & subject_id and compute percentile
df1['percentile'] = df1.groupby(by=['test_id','subject_id'])['mark'].rank(pct=True) * 100
# sort the values by test_id, subject_id & percentile
df1.sort_values(by=['test_id', 'subject_id','percentile'], ascending=[True, True, False], inplace=True)

df1.head(10)

    id test_id q_id subject_id  user_id  mark  percentile
14  15  test-1  q-1      sub-1   user-6    10       100.0
0    1  test-1  q-1      sub-1   user-1    -3        50.0
1    2  test-1  q-1      sub-1   user-5    -3        50.0
2    3  test-1  q-1      sub-1   user-9    -3        50.0
13  14  test-1  q-1      sub-1   user-2    -3        50.0
15  16  test-1  q-1      sub-1  user-10    -3        50.0
26  27  test-1  q-1      sub-1   user-3    -3        50.0
27  28  test-1  q-1      sub-1   user-7    -3        50.0
38  39  test-1  q-1      sub-1   user-4    -3        50.0
39  40  test-1  q-1      sub-1   user-8    -3        50.0

## Computing Subject-wise Rank for each student in the Test by the mark they scored

In [8]:
# Group by test_id & subject_id and compute rank
df1['rank'] = df1.groupby(by=['test_id', 'subject_id'], sort=False)['mark'].rank(ascending=0, method='min')
# sort the values by test_id, subject_id & rank
df1.sort_values(by=['test_id', 'subject_id', 'rank'], inplace=True)

df1.head(10)

    id test_id q_id subject_id  user_id  mark  percentile  rank
14  15  test-1  q-1      sub-1   user-6    10       100.0   1.0
0    1  test-1  q-1      sub-1   user-1    -3        50.0   2.0
1    2  test-1  q-1      sub-1   user-5    -3        50.0   2.0
2    3  test-1  q-1      sub-1   user-9    -3        50.0   2.0
13  14  test-1  q-1      sub-1   user-2    -3        50.0   2.0
15  16  test-1  q-1      sub-1  user-10    -3        50.0   2.0
26  27  test-1  q-1      sub-1   user-3    -3        50.0   2.0
27  28  test-1  q-1      sub-1   user-7    -3        50.0   2.0
38  39  test-1  q-1      sub-1   user-4    -3        50.0   2.0
39  40  test-1  q-1      sub-1   user-8    -3        50.0   2.0